{% extends 'base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <section class="regular-posts">
            {% for post in posts %}
                <article class="post">
                    <a href="#" class="category-link">{{ post.category.name }}</a>
                    <a href="{{ path('post_page', {'id': post.id }) }}"><h4>{{ post.title }}</h4></a>
                    <time>{{ post.publicationDate | date('d-m-Y H:i') }}</time>
                </article>
            {% endfor %}
        </section>
    </div>
{% endblock %}
